services:
  frontend:
    build: ./frontend
    container_name: frontend
    stdin_open: true
    tty: true
    networks:
      - edge_net
  
  bff:
    build: ./bff
    container_name: bff
    stdin_open: true
    tty: true
    networks:
      - services_net
      - edge_net
      - observability_net
    expose:
     - "7000"
     - "9100"

  gateway:
    image: nginx:alpine
    container_name: gateway
    stdin_open: true
    tty: true
    networks:
      - edge_net
      - services_net
      - observability_net
    ports:
      - "8443:8443"
    expose:
      - "9100"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf
      - ./.pki/gateway:/etc/nginx/ssl
    depends_on:
      - auth
      - user
      - content
      - social
      - realtime
      - frontend

  auth:
    build: ./auth
    container_name: auth
    stdin_open: true
    tty: true
    networks:
      - services_net
      - auth_net
      - observability_net
    expose:
      - "7000"
      - "9100"
    volumes:
      - ./pki/auth:/app/certs:ro
    environment:
      - SSL_CERT_PATH=app/certs/auth.crt
      - SSL_KEY_PATH=app/certs/auth.key
      - SSL_CA_PATH=app/certs/ca.crt
      

  auth-db:
    image: postgres:15-alpine
    container_name: auth-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${AUTH_DB_USER}
      POSTGRES_PASSWORD: ${AUTH_DB_PASSWORD}
      POSTGRES_DB: ${AUTH_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - auth_net
    expose:
      - "5432"
    volumes:
      - auth-db-data:/var/lib/postgresql/data
      # Certificats SSL
      - ./.pki/auth-db/auth-db.crt:/var/lib/postgresql/server.crt:ro
      - ./.pki/auth-db/auth-db.key:/var/lib/postgresql/server.key:ro
      - ./.pki/ca/ca.crt:/var/lib/postgresql/root.crt:ro
    command: >
      sh -c "
      chmod 600 /var/lib/postgresql/server.key &&
      chown postgres:postgres /var/lib/postgresql/server.key /var/lib/postgresql/server.crt &&
      postgres -c ssl=on 
               -c ssl_cert_file=/var/lib/postgresql/server.crt 
               -c ssl_key_file=/var/lib/postgresql/server.key
               -c ssl_ca_file=/var/lib/postgresql/root.crt
      "
  user:
    build: ./user
    container_name: user
    stdin_open: true
    tty: true
    networks:
      - services_net
      - user_net
      - observability_net
    expose:
      - "7000"
      - "9100"
    volumes:
      - ./pki/user:/app/certs:ro
    environment:
      - SSL_CERT_PATH=app/certs/user.crt
      - SSL_KEY_PATH=app/certs/user.key
      - SSL_CA_PATH=app/certs/ca.crt

  user-db:
    image: postgres:15-alpine
    container_name: user-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - user_net
    expose:
      - "5432"
    volumes:
      - user-db-data:/var/lib/postgresql/data
      # Certificats SSL
      - ./.pki/user-db/user-db.crt:/var/lib/postgresql/server.crt:ro
      - ./.pki/user-db/user-db.key:/var/lib/postgresql/server.key:ro
      - ./.pki/ca/ca.crt:/var/lib/postgresql/root.crt:ro
    command: >
      sh -c "
      chmod 600 /var/lib/postgresql/server.key &&
      chown postgres:postgres /var/lib/postgresql/server.key /var/lib/postgresql/server.crt &&
      postgres -c ssl=on 
               -c ssl_cert_file=/var/lib/postgresql/server.crt 
               -c ssl_key_file=/var/lib/postgresql/server.key
               -c ssl_ca_file=/var/lib/postgresql/root.crt
      "
  
  content:
    build: ./content
    container_name: content
    stdin_open: true
    tty: true
    networks:
      - services_net
      - content_net
      - observability_net
    expose:
      - "7000"
      - "9100"
    volumes:
      - ./pki/content:/app/certs:ro
    environment:
      - SSL_CERT_PATH=app/certs/content.crt
      - SSL_KEY_PATH=app/certs/content.KEY
      - SSL_CA_PATH=app/certs/ca.crt

  content-db:
    image: postgres:15-alpine
    container_name: content-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${CONTENT_DB_USER}
      POSTGRES_PASSWORD: ${CONTENT_DB_PASSWORD}
      POSTGRES_DB: ${CONTENT_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - content_net
    expose:
      - "5432"
    volumes:
      - content-db-data:/var/lib/postgresql/data
      # Certificats SSL
      - ./.pki/content-db/content-db.crt:/var/lib/postgresql/server.crt:ro
      - ./.pki/content-db/content-db.key:/var/lib/postgresql/server.key:ro
      - ./.pki/ca/ca.crt:/var/lib/postgresql/root.crt:ro
    command: >
      sh -c "
      chmod 600 /var/lib/postgresql/server.key &&
      chown postgres:postgres /var/lib/postgresql/server.key /var/lib/postgresql/server.crt &&
      postgres -c ssl=on 
               -c ssl_cert_file=/var/lib/postgresql/server.crt 
               -c ssl_key_file=/var/lib/postgresql/server.key
               -c ssl_ca_file=/var/lib/postgresql/root.crt
      "

  social:
    build: ./social
    container_name: social
    stdin_open: true
    tty: true
    networks:
      - services_net
      - social_net
      - observability_net
    expose:
      - "7000"
      - "9100"
    volumes:
      - ./pki/social:/app/certs:ro
    environment:
      - SSL_CERT_PATH=app/certs/social.crt
      - SSL_KEY_PATH=app/certs/social.key
      - SSL_CA_PATH=app/certs/ca.crt

  social-db:
    image: postgres:15-alpine
    container_name: social-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${SOCIAL_DB_USER}
      POSTGRES_PASSWORD: ${SOCIAL_DB_PASSWORD}
      POSTGRES_DB: ${SOCIAL_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - social_net
    expose:
      - "5432"
    volumes:
      - social-db-data:/var/lib/postgresql/data
      # Certificats SSL
      - ./.pki/social-db/social-db.crt:/var/lib/postgresql/server.crt:ro
      - ./.pki/social-db/social-db.key:/var/lib/postgresql/server.key:ro
      - ./.pki/ca/ca.crt:/var/lib/postgresql/root.crt:ro
    command: >
      sh -c "
      chmod 600 /var/lib/postgresql/server.key &&
      chown postgres:postgres /var/lib/postgresql/server.key /var/lib/postgresql/server.crt &&
      postgres -c ssl=on 
               -c ssl_cert_file=/var/lib/postgresql/server.crt 
               -c ssl_key_file=/var/lib/postgresql/server.key
               -c ssl_ca_file=/var/lib/postgresql/root.crt
      "

  realtime:
    build: ./realtime
    container_name: realtime
    stdin_open: true
    tty: true
    networks:
      - services_net
      - realtime_net
      - observability_net
    expose:
      - "7000"
      - "7001"
      - "9100"
    volumes:
      - ./pki/realtime:/app/certs:ro
    environment:
      - SSL_CERT_PATH=app/certs/realtime.crt
      - SSL_KEY_PATH=app/certs/realtime.key
      - SSL_CA_PATH=app/certs/ca.crt

  realtime-db:
    image: postgres:15-alpine
    container_name: realtime-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${REALTIME_DB_USER}
      POSTGRES_PASSWORD: ${REALTIME_DB_PASSWORD}
      POSTGRES_DB: ${REALTIME_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - realtime_net
    expose:
      - "5432"
    volumes:
      - realtime-db-data:/var/lib/postgresql/data
      # Certificats SSL
      - ./.pki/realtime-db/realtime-db.crt:/var/lib/postgresql/server.crt:ro
      - ./.pki/realtime-db/realtime-db.key:/var/lib/postgresql/server.key:ro
      - ./.pki/ca/ca.crt:/var/lib/postgresql/root.crt:ro
    command: >
      sh -c "
      chmod 600 /var/lib/postgresql/server.key &&
      chown postgres:postgres /var/lib/postgresql/server.key /var/lib/postgresql/server.crt &&
      postgres -c ssl=on 
               -c ssl_cert_file=/var/lib/postgresql/server.crt 
               -c ssl_key_file=/var/lib/postgresql/server.key
               -c ssl_ca_file=/var/lib/postgresql/root.crt
      "
    
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    networks:
      - observability_net
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/prometheus/prometheus.yml
      - prometheus-data:/prometheus

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - observability_net
    volumes:
      - grafana-storage:/var/lib/grafana
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_SERVER_ROOT_URL=https://localhost:8443/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    restart: unless-stopped


volumes:
  auth-db-data:
  user-db-data:
  content-db-data:
  social-db-data:
  realtime-db-data:
  grafana-storage:
  prometheus-data:

networks:
  edge_net:
    driver: bridge
  services_net:
    driver: bridge
  observability_net:
    driver: bridge
  auth_net:
    driver: bridge
  user_net:
    driver: bridge
  social_net:
    driver: bridge
  content_net:
    driver: bridge
  realtime_net:
    driver: bridge