services:
  frontend:
    build: ./frontend
    container_name: frontend
    stdin_open: true
    tty: true
    networks:
      - edge_net
  
  gateway:
    image: nginx:alpine
    container_name: gateway
    stdin_open: true
    tty: true
    networks:
      - edge_net
      - services_net
      - observability_net
    ports:
      - "443:443"
    expose:
      - "9100"

  auth:
    build: ./auth
    container_name: auth
    stdin_open: true
    tty: true
    networks:
      - services_net
      - auth_net
      - observability_net
    expose:
      - "7000"
      - "9100"

  auth-db:
    image: postgres:15-alpine
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_USER: admin123
      POSTGRES_PASSWORD: ptt!
      POSTGRES_DB: auth-db 
    stdin_open: true
    tty: true
    networks:
      - auth_net
    expose:
      - "5432"
    volumes:
      - auth-db-data:/var/lib/postgresql/data
  user:
    build: ./user
    container_name: user
    stdin_open: true
    tty: true
    networks:
      - services_net
      - user_net
      - observability_net
    expose:
      - "7000"
      - "9100"

  user-db:
    image: postgres:15-alpine
    container_name: user-db
    restart: always
    environment:
      POSTGRES_USER: admin123
      POSTGRES_PASSWORD: ptt!
      POSTGRES_DB: user-db 
    stdin_open: true
    tty: true
    networks:
      - user_net
    expose:
      - "5432"
    volumes:
      - user-db-data:/var/lib/postgresql/data
  
  content:
    build: ./content
    container_name: content
    stdin_open: true
    tty: true
    networks:
      - services_net
      - content_net
      - observability_net
    expose:
      - "7000"
      - "9100"

  content-db:
    image: postgres:15-alpine
    container_name: content-db
    restart: always
    environment:
      POSTGRES_USER: admin123
      POSTGRES_PASSWORD: ptt!
      POSTGRES_DB: content-db 
    stdin_open: true
    tty: true
    networks:
      - content_net
    expose:
      - "5432"
    volumes:
      - content-db-data:/var/lib/postgresql/data

  social:
    build: ./social
    container_name: social
    stdin_open: true
    tty: true
    networks:
      - services_net
      - social_net
      - observability_net
    expose:
      - "7000"
      - "9100"

  social-db:
    image: postgres:15-alpine
    container_name: social-db
    restart: always
    environment:
      POSTGRES_USER: admin123
      POSTGRES_PASSWORD: ptt!
      POSTGRES_DB: social-db 
    stdin_open: true
    tty: true
    networks:
      - social_net
    expose:
      - "5432"
    volumes:
      - social-db-data::/var/lib/postgresql/data

  realtime:
    build: ./realtime
    container_name: realtime
    stdin_open: true
    tty: true
    networks:
      - services_net
      - realtime_net
      - observability_net
    expose:
      - "7000"
      - "7001"
      - "9100"

  realtime-db:
    image: postgres:15-alpine
    container_name: realtime-db
    restart: always
    environment:
      POSTGRES_USER: admin123
      POSTGRES_PASSWORD: ptt!
      POSTGRES_DB: auth-db 
    stdin_open: true
    tty: true
    networks:
      - realtime_net
    expose:
      - "5432"
    volumes:
      - realtime-db-data:/var/lib/postgresql/data
    
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    networks:
      - observability_net
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - observability_net
    volumes:
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin123
      - GF_SECURITY_ADMIN_PASSWORD=ptt
    restart: unless-stopped


volumes:
  auth-db-data:
  user-db-data:
  content-db-data:
  social-db-data:
  realtime-db-data:
  grafana-storage:

networks:
  edge_net:
    driver: bridge
  services_net:
    driver: bridge
  observability_net:
    driver: bridge
  auth_net:
    driver: bridge
  user_net:
    driver: bridge
  social_net:
    driver: bridge
  content_net:
    driver: bridge
  realtime_net:
    driver: bridge