services:
  frontend:
    build: ./frontend
    container_name: frontend
    stdin_open: true
    tty: true
    networks:
      - edge_net
  
  gateway:
    image: nginx:alpine
    container_name: gateway
    stdin_open: true
    tty: true
    networks:
      - edge_net
      - services_net
      - observability_net
    ports:
      - "8443:8443"
    expose:
      - "9100"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf
      - ./gateway/ssl:/etc/nginx/ssl
    depends_on:
      - auth
      - user
      - content
      - social
      - realtime
      - frontend

  auth:
    build: ./auth
    container_name: auth
    stdin_open: true
    tty: true
    networks:
      - services_net
      - auth_net
      - observability_net
    expose:
      - "7000"
      - "9100"

  auth-db:
    image: postgres:15-alpine
    container_name: auth-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${AUTH_DB_USER}
      POSTGRES_PASSWORD: ${AUTH_DB_PASSWORD}
      POSTGRES_DB: ${AUTH_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - auth_net
    expose:
      - "5432"
    volumes:
      - auth-db-data:/var/lib/postgresql/data
  user:
    build: ./user
    container_name: user
    stdin_open: true
    tty: true
    networks:
      - services_net
      - user_net
      - observability_net
    expose:
      - "7000"
      - "9100"

  user-db:
    image: postgres:15-alpine
    container_name: user-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - user_net
    expose:
      - "5432"
    volumes:
      - user-db-data:/var/lib/postgresql/data
  
  content:
    build: ./content
    container_name: content
    stdin_open: true
    tty: true
    networks:
      - services_net
      - content_net
      - observability_net
    expose:
      - "7000"
      - "9100"

  content-db:
    image: postgres:15-alpine
    container_name: content-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${CONTENT_DB_USER}
      POSTGRES_PASSWORD: ${CONTENT_DB_PASSWORD}
      POSTGRES_DB: ${CONTENT_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - content_net
    expose:
      - "5432"
    volumes:
      - content-db-data:/var/lib/postgresql/data

  social:
    build: ./social
    container_name: social
    stdin_open: true
    tty: true
    networks:
      - services_net
      - social_net
      - observability_net
    expose:
      - "7000"
      - "9100"

  social-db:
    image: postgres:15-alpine
    container_name: social-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${SOCIAL_DB_USER}
      POSTGRES_PASSWORD: ${SOCIAL_DB_PASSWORD}
      POSTGRES_DB: ${SOCIAL_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - social_net
    expose:
      - "5432"
    volumes:
      - social-db-data:/var/lib/postgresql/data

  realtime:
    build: ./realtime
    container_name: realtime
    stdin_open: true
    tty: true
    networks:
      - services_net
      - realtime_net
      - observability_net
    expose:
      - "7000"
      - "7001"
      - "9100"

  realtime-db:
    image: postgres:15-alpine
    container_name: realtime-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${REALTIME_DB_USER}
      POSTGRES_PASSWORD: ${REALTIME_DB_PASSWORD}
      POSTGRES_DB: ${REALTIME_DB_DB}
    stdin_open: true
    tty: true
    networks:
      - realtime_net
    expose:
      - "5432"
    volumes:
      - realtime-db-data:/var/lib/postgresql/data
    
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    networks:
      - observability_net
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/prometheus/prometheus.yml
      - prometheus-data:/prometheus

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - observability_net
    volumes:
      - grafana-storage:/var/lib/grafana
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_SERVER_ROOT_URL=https://localhost:8443/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    restart: unless-stopped


volumes:
  auth-db-data:
  user-db-data:
  content-db-data:
  social-db-data:
  realtime-db-data:
  grafana-storage:
  prometheus-data:

networks:
  edge_net:
    driver: bridge
  services_net:
    driver: bridge
  observability_net:
    driver: bridge
  auth_net:
    driver: bridge
  user_net:
    driver: bridge
  social_net:
    driver: bridge
  content_net:
    driver: bridge
  realtime_net:
    driver: bridge