global:
  scrape_interval: 15s # Récupère les metrics toutes les 15 secondes
  evaluation_interval: 15s 

# Configuration des sources de metrics
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]
  
  - job_name: "gateway"
    static_configs:
      - targets: ["gateway:9100"]

  - job_name: "auth"
    static_configs:
      - targets: ["auth:9100"]

  - job_name: "user"
    static_configs:
      - targets: ["user:9100"]

  - job_name: "content"
    static_configs:
      - targets: ["content:9100"]
  
  - job_name: "social"
    static_configs:
      - targets: ["social:9100"]

  - job_name: "realtime"
    static_configs:
      - targets: ["realtime:9100"]