global:
  scrape_interval: 15s # Récupère les metrics toutes les 15 secondes
  evaluation_interval: 15s 

# Configuration des sources de metrics
scrape_configs:
  # - job_name: "prometheus"
  #   scheme: https
  #   tls_config:
  #     ca_file: /etc/prometheus/certs/ca.crt
  #     insecure_skip_verify: false
  #   static_configs:
  #     - targets: ["prometheus:9090"]
  
  - job_name: "auth"
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["auth:9100"]

  - job_name: "user"
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["user:9100"]

  - job_name: "content"
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["content:9100"]
  
  - job_name: "social"
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["social:9100"]

  - job_name: "realtime"
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["realtime:9100"]