apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: https://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      tlsSkipVerify: true     
      httpMethod: POST         
      timeInterval: 15s       
    version: 1
